.prompt-card {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  height: min-content;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  & .modal-button {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.075);
    & .modal-button {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
}

.prompt-card-title {
  font-size: 14px;
}

.prompt-card-options {
  display: flex;
  align-items: center;
  position: relative;
  &:hover {
    .prompt-card-options-list {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
}

.prompt-card-options-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #353535;
  border-radius: 8px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  width: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.prompt-card-options-top {
  top: auto;
  bottom: 100%;
}

.prompt-card-option {
  border-radius: 8px;
  padding: 6px;
  padding-right: 4px;
  gap: 8px;
  display: flex;
  border: none;
  outline: none;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.prompt-card-option-danger {
  color: rgb(255, 94, 91);
  &:hover {
    background-color: rgba(255, 94, 91, 0.1) !important;
  }
}
