.prompt-card {
  padding: 8px;
  background-color: var(--pl-bg-secondary);
  border: 1px solid var(--pl-border-primary);
  border-radius: 8px;
  display: flex;
  height: min-content;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: var(--pl-transition);

  & .modal-button {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  &:hover {
    background-color: var(--pl-btn-secondary-hover);
    & .modal-button {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
}

.prompt-card-title {
  font-size: 14px;
}

.prompt-card-options {
  display: flex;
  align-items: center;
  position: relative;
  transition: var(--pl-transition);
  &:hover {
    .prompt-card-options-list {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      background-color: var(--pl-bg-secondary);
    }
  }
}

.prompt-card-options-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--pl-bg-primary);
  border-radius: 8px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  width: 150px;
  box-shadow: var(--pl-shadow-modal);
  border: 1px solid var(--pl-border-primary);
}

.prompt-card-options-top {
  top: auto;
  bottom: 100%;
}

.prompt-card-option {
  border-radius: 8px;
  padding: 6px;
  padding-right: 4px;
  gap: 8px;
  display: flex;
  border: none;
  outline: none;
  align-items: center;
  background-color: transparent;
  color: var(--pl-text-primary);
  cursor: pointer;
  transition: var(--pl-transition);

  &:hover {
    background-color: var(--pl-btn-secondary-hover);
  }
}

.prompt-card-option-danger {
  color: rgb(255, 94, 91);
  &:hover {
    background-color: rgba(255, 94, 91, 0.1) !important;
  }
}
