.prompt-card {
  background-color: var(--pl-bg-secondary);
  border: 1px solid var(--pl-border-primary);
  border-radius: 8px;
  display: flex;
  height: 44px;
  box-sizing: border-box;
  transition: var(--pl-transition);
  width: 100%;
  min-width: 0;
  .prompt-card-actions {
    display: none;
  }
  &:hover,
  &.is-open {
    .prompt-card-actions {
      display: flex;
    }
  }
}

.prompt-card:has(.prompt-card-content:hover) {
  background-color: var(--pl-btn-secondary-hover);
  cursor: pointer;
}

.prompt-card-content {
  display: flex;
  width: 100%;
  padding-inline: 8px;
  height: 44px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  align-items: center;
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.prompt-card-actions {
  display: flex;
  align-items: center;
  padding: 4px;
  padding-left: 0;
  transition: var(--pl-transition);
  flex-shrink: 0;
}

.prompt-card-title {
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  min-width: 0;
}

.prompt-card-options {
  display: flex;
  align-items: center;
  position: relative;
}

.prompt-card-options-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--pl-bg-secondary);
  border-radius: 8px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  width: 150px;
  box-shadow: var(--pl-shadow-modal);
  border: 1px solid var(--pl-border-primary);
}

.prompt-card-options-top {
  top: auto;
  bottom: 100%;
}

.prompt-card-option {
  border-radius: 8px;
  padding: 6px;
  padding-right: 4px;
  gap: 8px;
  display: flex;
  border: none;
  outline: none;
  align-items: center;
  background-color: transparent;
  color: var(--pl-text-primary);
  cursor: pointer;
  transition: var(--pl-transition);

  &:hover {
    background-color: var(--pl-btn-secondary-hover);
  }
}

.prompt-card-option-danger {
  color: rgb(255, 94, 91);
  &:hover {
    background-color: rgba(255, 94, 91, 0.1) !important;
  }
}
