.prompt-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border-radius: 999px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: var(--pl-btn-secondary-text);
  transition: var(--pl-transition);

  &::before {
    content: "Prompt Library";
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(-0.5rem, -50%);
    background-color: var(--pl-tooltip-bg);
    color: var(--pl-tooltip-text);
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    padding: 6px 8px;
    border-radius: 8px;
    white-space: nowrap;
    display: none;
  }

  &:hover {
    background-color: var(--pl-btn-secondary-hover);
    &::before {
      display: block;
    }
  }
}
